/* || Media query */

@media screen and (max-width:  810px){ 
    h1{
        display: none;
    }
    .container, body{
        font-size: calc(.5rem + 1vh);
        width: 100%;
    }
    
    /* .container{
        height: calc(100% + 60vh);
    } */
    
}
@media screen and (max-width:  490px){ 
    
}